body {
    font-family: 'Segoe UI', sans-serif;
}

h1, h2 {
    color: #2c3e50;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table th {
    background-color: #198754;
    color: white;
}
body {
    background-image: url('/static/images/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}